<% if(typeof(firstName) !== 'undefined') {%> 
  <%- include("secondHeader", {firstName, id}); -%>
<% }else{%>
  <%- include("secondHeader"); -%>
<% }%>
<script src="app.js"></script>

<div style="display: flex; justify-content: space-between; margin-top: 20px;">
  <h1 class="display-4 fw-bold lh-1 mb-3">Your Repositories</h1>
  <a href="/dashboard/<%= id %>" class="btn btn-danger my-4" style="background-color: #363062; color:#ffffff; border:none">BACK TO DASHBOARD</a>
  
</div>

<section>
    <div class="table-responsive">
        <table class="table table-striped table-sm">

          <thead>
            <tr>
              <th scope="col">RID</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Details</th>
              <th scope="col">Functions</th>
             
            </tr>
          </thead>

          <tbody>
            <% let i=0; while(i !=yourRepositories.length){ %>
              
              <tr>
                <td><%= yourRepositories[i].id %></td>
                <td><%=  yourRepositories[i].repositoryName %></td>
                <td><%= yourRepositories[i].repositoryDescription%></td>
                <td><%= yourRepositories[i].userId%></td>
                <td>
                  <a role="button" href = "/yourRepositories/<%=yourRepositories[i].id %>/edit" class="btn btn-dark">Edit</a>
                  <a role="button" href = "/yourRepositories/<%=yourRepositories[i].id %>/delete"class="btn" style="background-color: #363062; color:#ffffff">Delete</a>
                
                </td>

                
              </tr>
           
              <% i++ } %>
            
          </tbody>
          
        </table> 
          
  </section>

   

    
 


<%- include("footer") -%>